.ct-series-a .ct-line {
    stroke: #8494FF; /* #8494FF #C1C1D2 */
    stroke-width: 2px;
}

.ct-series-b .ct-line {
    stroke: #000000;
    stroke-width: 2px;
}

.ct-series-a .ct-point {
    stroke: #8494FF;
}

.ct-series-b .ct-point {
    stroke: #000000;
}

.dropdown-button {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

textarea {
    display: block;
    width: 100%;
    height: auto;
    padding: 7px;
    font-size: 14.5px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #585858 /* #4B5563 */;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin-left: 12px;
    /* resize: none; */
}